html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    overflow-x: hidden; /*This prevents the entire page from overflowing*/
    /* overflow: hidden; */
}

.container {
    width: 100%;
    height: 600vh;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
}

.navbar-container {
    width: 100%;
    height: 10rem;
    background-color: #e3d5ca;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
}

.navbar-left-side-wrapper {
    width: 40rem;
    height: 100%;
    background-color: none;
    margin-left: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-wrapper {
    width: 30%;
    height: 100%;
    background-color: none;
    display: flex;
    position: relative;
}

.fa-cart-shopping {
    font-size: 1.9rem;
    background-color: #030303;
    color: #fff;
    padding: .4rem;
    border-radius: 4px;
    transform: rotateY(180deg);
}

.logo-anchor {
    align-self: center;
    background-color: #030303;
}

.logo-text-wrapper {
    background-color: none;
    margin-left: .5rem;
    display: flex;
    flex-direction: column;
    width: 9rem;
    height: 100%;
    justify-content: center;
}

.logo-text {
    font-size: 1rem;
    margin: 0;
}

.logo-text-1 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .3rem;
}

.navbar-left-side-wrapper a {
    text-decoration: none;
    color: #000;
}

.nav-left-text {
    font-weight: 400;
    color: #676667;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    transition: all .3s;
}

.nav-left-text:hover {
    background-color: #fefae0;
    text-decoration: underline;
}



.navbar-right-side-wrapper {
    width: 45rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    margin-right: 5rem;
}

.navbar-right-side-wrapper a {
    text-decoration: none;
}

.nav-right-text {
    font-weight: 400;
    color: #676667;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    transition: all .3s;
}

.nav-right-text:hover {
    background-color: #fefae0;
    text-decoration: underline;
}

.right-text-5 {
    padding: 1rem;
    background-color: #000;
    border-radius: 3px;
    color: #E9E9E9;
    font-size: 1.3rem;
    transition: all .3s;
    font-weight: 800;
}

.right-text-5:hover {
    opacity: 70%;
}

.right-text-5:active {
    background-color: #4a4e69;
    color: #fff;
}

.dropdown-menu-wrapper {
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    position: absolute;  
    visibility: hidden;
}

.dropdown-label-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-icon {
    font-size: 2.2rem;
    cursor: pointer;
    position: absolute;
}


.dropdown-container {
    width: 9rem;
    height: 58rem;
    height: 60%;
    background-color: #4a4e69;
    display: flex;
    flex-direction: column;
    margin-top: 24rem;
    margin-left: -9rem;
    /* visibility: hidden; */
    position: fixed;
    visibility: hidden;
    border: 2px solid #e3d5ca;
    border-left: none;
    box-sizing: border-box; 
    z-index: 10; 
}

.dropdown-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    width: 55%;
    height: 20rem;
    background-color: none;
    margin-top: 3rem;
}

.dropdown-text {
    color: #fff;
    margin-left: -4rem;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: .1rem;
    transition: all .5s;
}

.dropdown-text:hover {
    font-size: 1.6rem;
    background-color: #000;
}

.dropdown-divider-wrapper {
    width: 100%;
    height: 5rem;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line-icon {
    font-size: 5rem;
    color: #fff;
}

.dropdown-text-wrapper-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    width: 55%;
    height: 25rem;
    background-color: none;
}

.dropdown-text-2 {
    color: #fff;
    margin-left: -4rem;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: .1rem;
    transition: all .5s;
}

.dropdown-text-2:hover {
    font-size: 1.6rem;
    background-color: #000;
}

.text-anchor {
    text-decoration: none;
}


.first-page-content-container {
    width: 100%;
    height: 88rem;
    background-color: #fff;
    position: absolute;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 0;
    text-align: center;
}

.landing-page-header {
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin: 0;
    margin-top: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.landing-page-sub-header {
    padding-left: 25rem;
    padding-right: 25rem;
    font-weight: 300;
    margin: 0;
    line-height: 2.5rem;
}

.landing-page-button {
    padding: 1.5rem 5.5rem 1.5rem 5.5rem;
    border-radius: 15px;
    background-color: #06A768;
    color: #fff;
    cursor: pointer;
    transition: opacity .3s;
}

.landing-page-button:hover {
    opacity: 80%;
}

.landing-page-button:active {
    border: 2px solid #ced4da;
}

.landing-page-h3 {
    font-weight: 100;
    margin-top: -2rem;
}

.hero-image {
    width: 60rem;
    max-width: 60%;
}

.review-websites-wrapper {
    height: 10%;
    width: 80rem;
    max-width: 90%;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-logo-wrapper {
    text-align: center;
}

.review-sites-logos {
    width: 7rem;
    margin-bottom: 1rem;
}

.review-logo-text {
    color: #B7B7B7;
    margin: 0;
} 

/* Second Page */
.second-page-content-container {
    width: 100%;
    height: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: none;
    position: absolute; /*without this when the page is shrinked vertically this wouldn't be scrollable*/
    margin-top: 100rem;
}

.second-page-content-1-wrapper {
    width: 80rem;
    max-width: 80%;
    height: 65%;
    display: flex;
    justify-content: space-between;
    background-color: none;
    align-self: center;
    flex-wrap: wrap;
}

.second-page-content-1-box-1 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: none;
}

.second-page-header {
    font-size: 4rem;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif, Geneva, Tahoma, sans-serif;
    margin-top: 6rem;
}

.second-page-sub-header {
    color: #818181;
    font-weight: 300;
    line-height: 2.2rem;
    padding-right: 5rem;
    margin-top: -11rem;
}

.learn-more-button {
    padding: 1.2rem 5rem 1.2rem 5rem;
    border-radius: 20px;
    background-color: #FFC79A;
    color: #000;
    cursor: pointer;
    align-self: flex-start;
    margin-top: -8rem;
    transition: opacity .3s;
}

.learn-more-button:hover {
    opacity: 80%;
}

.learn-more-button:active {
    border: 2px solid #ced4da;
}

.social-media-descriptions-wrapper {
    width: 100%;
    height: 10rem;
    display: flex;
    margin-bottom: 4rem;
}

.facebook-logo {
    width: 7rem;
}

.instagram-logo {
    width: 7rem;
}

.social-media-text {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: #A4A4A4;
}

.facebook-text {
    padding-right: 4rem;
}


.second-page-content-1-box-2 {
    width: 40%;
    height: 100%;
    display: flex;
    background-color: blue;
    /* margin-left: 1rem; */
    z-index: 2;
}

.hero-image-2 {
    width: 45rem;
    min-width: 100%;
}


.second-page-content-2-wrapper {
    width: 100rem;
    height: 27%;
    max-width: 90%;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFC79A;
    align-self: center;
    border-radius: 50px;
    border: 2px solid #000;
}

.second-page-content-2-box-1 {
    width: 48%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: none;
    margin-left: 1rem;
}

.second-page-content-2-box-1-text {
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding-right: 1rem;
    color: #9F7252;
}

.second-page-content-2-box-1-review-pic-wrapper {
    display: flex;
    background-color: none;
    margin-top: .5rem;
}

.review-image {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-right: 1.5rem;
}

.review-name {
    font-weight: 500;
}

.second-page-content-2-box-2 {
    width: 20%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: none;
    margin-right: -5rem;
}

.review-trustpilot-logo {
    width: 7.7rem;
    margin-bottom: 1.6rem;
    margin-right: 1.2rem;
}
/* End of Second Page */

/* Third Page */
.third-page-content-container {
    width: 100%;
    height: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: none;
    position: absolute; /*without this when the page is shrinked vertically this wouldn't be scrollable*/
    margin-top: 185rem;
}

.third-page-content-1-wrapper {
    width: 80rem;
    max-width: 80%;
    height: 65%;
    display: flex;
    justify-content: space-between;
    background-color: none;
    align-self: center;
    flex-wrap: wrap;
}

.third-page-content-1-box-1 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: none;
}

.third-page-header {
    font-size: 4rem;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif, Geneva, Tahoma, sans-serif;
    margin-top: 6rem;
}

.third-page-sub-header {
    color: #818181;
    font-weight: 300;
    line-height: 2.2rem;
    padding-right: 5rem;
    margin-top: -11rem;
}

.page-3-learn-more-button {
    padding: 1.2rem 5rem 1.2rem 5rem;
    border-radius: 20px;
    background-color: #86F3B8;
    color: #000;
    cursor: pointer;
    align-self: flex-start;
    margin-top: -8rem;
    transition: opacity .3s;
}

.page-3-learn-more-button:hover {
    opacity: 80%;
}

.page-3-learn-more-button:active {
    border: 2px solid #ced4da;
    box-sizing: border-box;
}

.google-advertising-text {
    font-size: 1.4rem;
}

.facebook-advertising-text {
    font-size: 1.4rem;
}


.third-page-content-1-box-2 {
    width: 40%;
    height: 100%;
    display: flex;
    background-color: blue;
    /* margin-left: 1rem; */
    z-index: 2;
}

.third-page-content-2-wrapper {
    width: 100rem;
    height: 27%;
    max-width: 90%;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #86F3B8;
    align-self: center;
    border-radius: 50px;
    border: 2px solid #000;
}

.third-page-content-2-box-1 {
    width: 48%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: none;
    margin-left: 1rem;
}

.third-page-content-2-box-1-text {
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding-right: 1rem;
    color: #328758;
}

.third-page-content-2-box-1-review-pic-wrapper  {
    display: flex;
    background-color: none;
    margin-top: .5rem;
}

.third-page-content-2-box-2 {
    width: 20%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: none;
    margin-left: -5rem;
}

/* End of Third Page */

/* Fourth Page */

.fourth-page-content-container {
    width: 100%;
    height: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: none;
    position: absolute; /*without this when the page is shrinked vertically this wouldn't be scrollable*/
    margin-top: 270rem;
    background-color: none;
}

.fourth-page-content-1-wrapper {
    width:100rem;
    max-width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000;
    border-radius: 40px;
    /* background: linear-gradient(to right, rgb(244,244,244), rgba(179, 179, 180, 0.1)),
    url(countries.jpeg) center no-repeat;
    background-size: contain;
    background-position: 100% 40%;
    background-position: 40% 100%; */
}

.fourth-page-content-1 {
    width: 30%;
    height: 100%;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5rem;
}

.fourth-page-header {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif, Geneva, Tahoma, sans-serif;
}

.fourth-page-sub-header {
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin: 0;
    margin-top: -4.5rem;
    color: #818181;
}

.fourth-page-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth-page-content-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth-page-content-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}

.fourth-page-numbers-container {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, rgb(255,255,255), rgba(179, 179, 180, 0.1)),
    url(countries.jpeg) center no-repeat;
    background-size: contain;
    background-position: 100% 40%;
    border-radius: 40px;
}

.fourth-page-numbers {
    font-size: 7.5rem;
    font-weight: 700;
    margin: 0;
}

.fourth-page-number-descriptions {
    font-size: 1.3rem;
    color: #818181;
    background-color: #818181;
    color: #fff;
    padding: .5rem;
}

.plus-sign {
    font-weight: 100;
    font-size: 5.5rem;
}

.fourth-page-content-2-wrapper {
    width:100rem;
    max-width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    background-color: none;
}

.fourth-page-content-2-boxes {
    width: 31%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 2px solid #000;
    border-radius: 20px;
}

.fourth-page-content-2-boxes a {
    text-decoration: none;
}

.fourth-page-icons {
    font-size: 3rem;
    background-color: #fae053;
    color: #000;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #000;
    margin-left: 2rem;
    margin-top: 1rem;
}

.fourth-page-boxes-heading {
    font-size: 2rem;
    margin-top: -.5rem;
    margin-left: 2rem;
}

.fourth-page-boxes-description {
    font-size: 1.4rem;
    margin-top: -4.5rem;
    margin-left: 2rem;
    line-height: 2.4rem;
    color: #818181;
}

.fourth-page-learn-more-text {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    font-weight: 600;
    color: #000;
}

/* End of Fourth Page */

/* Fifth Page */

.fifth-page-content-container {
    width: 100%;
    height: 25rem;
    margin-top: 347rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.fifth-page-container-wrapper {
    width:100rem;
    max-width: 90%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: none;
    border-radius: 40px;
    border: 2px solid #000;
}

.fifth-page-box-1-wrapper {
    width: 40%;
    height: 60%;
    background-color: none;
    display: flex;
    align-items: center;
}

.fifth-page-box-2-wrapper {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: none;
}

.fifth-page-text {
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif, Geneva, Tahoma, sans-serif;
}

.page-5-small-text {
    font-size: 1.3rem;
    margin-left: 8.1rem;
}

.page-5-get-started-button {
    padding: 1.5rem 8rem 1.5rem 8rem;
    border-radius: 12px;
    background-color: #fae053;
    color: #000;
    cursor: pointer;
    transition: opacity .3s;
}

.page-5-learn-more-button:hover {
    opacity: 80%;
}

.page-5-learn-more-button:active {
    border: 2px solid #ced4da;
    box-sizing: border-box;
}

/* End of Fifth Page */

/* Sixth Page */

.sixth-page-content-container {
    width: 100%;
    height: 105rem;
    margin-top: 378rem;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.page-6-box-1 {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    /* margin-left: -20rem; */
    margin-right: 20rem;
    flex-wrap: wrap;
}

.page-6-box-1-first-box {
    width: 12rem;
    height: 100%;
    background-color: #06A768;
}

.page-6-box-1-first-box-wrapper {
    display: flex;
    background-color: #676667;
    height: 15%;
    align-items: flex-start;
}

.footer-cart-icon {
    background-color: #fff;
    color: #000;
    margin-top: .3rem;
    font-size: 2.2rem;
}

.footer-ecwid-text {
    font-size: 2rem;
    margin: 0;
    margin-left: .5rem;
    color: #fff;
}

.footer-ecwid-sub-text {
    font-size: 1.1rem;
    margin: 0;
    margin-left: .5rem;
    color: #fff;
}


.page-6-box-1-second-box {
    width: 30rem;
    height: 100%;
    background-color: orange;
}

.page-6-box-1-third-box {
    width: 30rem;
    height: 100%;
    background-color: red;
}



.page-6-box-2 {
    width: 90rem;
    height: 20%;
    border: 1px solid #fff;
    margin-right: -20rem;
    margin-top: 3rem;
}

.page-6-box-3 {
    width: 100vw;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    margin-top: 10rem;
    box-sizing: border-box;
}

.page-6-box-3-first-box-wrapper {
    width: 12rem;
    height: 60%;
    background-color: none;
    margin-left: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-earth-icon {
    font-size: 2.1rem;
    color: #fff;
}

.footer-global-text {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    margin-left: 1rem;
}

.page-6-box-3-second-box-wrapper {
    width: 50rem;
    height: 60%;
    background-color: none;
    margin-right: 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-6-box-3-second-box-wrapper a {
    text-decoration: none;
    color: #CBCBCB;
}

.page-6-box-3-second-box-wrapper a:hover {
    text-decoration: underline;
}

.footer-box-3-second-box-text {
    color: #CBCBCB;
    font-size: 1.4rem;
}

.footer-small-earth-icon {
    margin-right: .5rem;
}

.footer-box-3-second-box-text-2 {
    font-size: 1.2rem;
    color: #445461;
}

/* End of Sixth Page */
/* Responsiveness  */

@media (max-height: 625px) {
    .dropdown-container {
        margin-top: 15rem;
        height: 70%;
    }
}

@media (max-height: 525px) {
    .dropdown-container {
        margin-top: 10rem;
        height: 75%;
    }
}


@media (max-width: 1020px) {
    .container {
        height: 500vh;
        height: 600vh;
    }
    .navbar-container {
        display: flex;
        justify-content: center;
    }

    .navbar-right-side-wrapper {
        background-color: none;
    }

    .nav-left-text {
        display: none;
    }

    .logo-text-wrapper {
        /* margin-left: 35rem; */
        margin: auto 180%; /* Important! - By using this instead of margin-left,
        as the page shrinks this element stays centered*/
    }

    .cart-icon {
        display: none;
    }

    /* .cart-icon {
        margin-left: 31.5rem;
    }

    .logo-anchor {
        width: 0;
    } */

    .dropdown-menu-wrapper {
        margin-left: -6.5rem;
        visibility: visible;
    }

    .dropdown-container {
        visibility: visible;
    }

    .navbar-left-side-wrapper {
        background-color: none;
        width: 100rem;
    }

    .navbar-right-side-wrapper {
        text-align: center;
    }

    .right-text-5 {
        margin-right: 0rem;
    }

    .right-text-disappear {
        display: none;
    }

    .checkbox:checked ~ .container .dropdown-container {
        margin-left: 0rem;
        transition: margin-left .5s;
    }

    .checkbox:checked ~ .container .navbar-container .navbar-left-side-wrapper .logo-wrapper .dropdown-menu-wrapper .dropdown-label-wrapper .dropdown-icon {
        opacity: 50%;
    }

    .fourth-page-content-2-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 55%;
    }

    .fourth-page-content-2-boxes {
        min-width: 70%;
    }

}

@media (max-width: 900px) {
    .second-page-content-1-box-2 {
        margin-left: 1rem; /*This allows the image to wrap. Without this it wouldn't wrap.*/
    }

    .third-page-content-1-box-2 {
        margin-right: 1rem; /*This allows the image to wrap. Without this it wouldn't wrap.*/
    }
}

@media (max-width: 450px) {
    .x-icon {
        margin-right: -1rem;
    }

    .logo-text-wrapper {
        margin-left: 10rem;
    }

    .navbar-right-side-wrapper {
        margin-right: 1rem;
    
    }

    .right-text-5 {
        font-size: 1.5rem;
        padding: .5rem 0rem .5rem 0rem;
        transform: scale(.7);
        line-height: 2rem;
    }
    
    html {
        overflow-x: hidden; /*This stops the content from overflowing on mobile devices*/
    }

    .fourth-page-content-2-wrapper {
        margin-left: 25%;
    }
}



/* End of Responsiveness  */