html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    background: linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, .2)),
    url(roadpic.jpg) center no-repeat;    
    width: 100%;
    height: 200vh;
    background-size: cover;
    background-position: 100% 100%;
    display: flex;
}

.main-header-container {
    /* background-color: #bbb; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: start;
}
.main-header {
    font-size: 12rem;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: flex-start;
    margin: 0;
}

.main-header-h2 {
    font-size: 4rem;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    margin: 0;
/*  visibility: hidden; Use this to hide elements*/ 
}

.second-page-container {
    width: 30%;
    height: 200vh;
    background-coldor: rgb(32,32,37);
    background-color: #ccc5b9;
    display: flex;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: none;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pic-1 {
    width: 1.6%;
    display: flex;
}

.sidebar {
    margin-bottom: 1rem;
    font-size: 4rem;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 350;
    cursor: pointer;
    letter-spacing: .2rem;
    text-align: center;
    /* -webkit-font-smoothing: antialiased; */
}

.sidebar-home {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(28,25,33, .9);
    border: 1px solid #fff;
    transition: all .6s;
    width: 74%;
    margin-left: 1.7rem;
}

.sidebar-home:hover {
    text-decoration: underline;
    background-color: #fff;
    color: rgb(28,25,33);
    border: 1px solid rgb(28,25,33);
}

.discover-text {
    border: 1px solid #fff;
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;
    background-color: rgb(28,25,33, .9);
    transition: all .6s;
}

.discover-text:hover {
    text-decoration: underline;
    background-color: #fff;
    color: rgb(28,25,33);
    border: 1px solid rgb(28,25,33);

}

.discover {
    width: 100%;
    /* height: 22%; */
    /* visibility: hidden; */
    border-bottom: 17px solid #ccc5b9;
    border-top: 3px solid #fff;
    /* border-left: 2px solid #fff;
    border-right: 2px solid #fff; */
}

.image-container {
    background-color: transparent;
    width: 20vw;
    height: 89vh;
    margin-top: -2rem;
    display: flex;
    flex-wrap: wrap;
    scroll-snap-align: start;
}

.pic-3 {
    border-bottom: none;
}

.images-text-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-text {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    transition: all 1s;
}

.image-text:hover {
    background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.5));
    font-size: 3.5rem;
    box-sizing: border-box;
}

.image-1-text:hover{
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    padding-left: 5.3rem;
    padding-right: 5.3rem;
    box-sizing: border-box;
    margin-bottom: 5.1rem;
    border: 1px solid #fff;
}

.image-2-text:hover {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 7rem;
    padding-right: 7rem;
    box-sizing: border-box;
    margin-bottom: 5rem;
    border: 1px solid #fff;
}

.image-3-text:hover{
    padding-top: 17.5rem;
    padding-bottom: 17.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    box-sizing: border-box;
    border: 1px solid #fff;
}

.second-header-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    margin-top: 180rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 10px solid #ccc5b9;
}

.second-header {
    color: #fff;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 12rem;
}

.second-header-h2 {
    color: #fff;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 4rem;
}

.home-container {
    width: 100%;
    height:100vh;
    background-codlor: aqua;
}

.video-container {
    width: 100%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.video {
    width: 87%;
    border: 1px solid #fff;
    margin-bottom: -1.5rem;
    max-height: 80%;
}

.video-1 {
    margin-bottom: .5rem;
}
.video-2 {
    margin-bottom: .5rem;
}

.vid2 {
    width: 100%;
    /* width: 40%; */
    opacity: 60%;
}

.vid2:hover {
    opacity: 100%;
}

.video2-container {
    width: 10%;
    height: 10%;
    display: flex;
    position: absolute;
    margin-top: -80rem;
    margin-left: -75rem;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    background-color: rgb(20,22,29);
    transition: all .8s;
}

.video2-container:hover {
    width: 15%;
}
