html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; /*This prevents the entire page from overflowing*/
    /* overflow: hidden; */
}

/* Colors 

- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

### Neutral

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)

End ofColors */

.container {
    background-color: hsl(36, 100%, 99%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 77%; /*If I use percentage for width when the page size changes the size of the elements change too */
    width: 100rem; /*Size of elements aren't affected when the page size is changed*/
    height: 86%;
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-container {
    width: 100%;
    height: 10%;
    background-color: none;
    display: flex;
    justify-content: space-between;
}

.logo-wrapper {
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-anchor {
    text-decoration: none;
}

.logo-image {
    width: 100%;
    height: 100%;
}

/* Nav */

.nav-links-wrapper {
    width: 40%;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links-anchor {
    text-decoration: none;
}

.nav-links-text {
    color: hsl(236, 13%, 42%);
    font-size: 1.5rem;
}

.nav-links-text:hover {
    color: hsl(5, 85%, 63%);
}

/* End of Nav */

/* Main Content */

.main-content-container {
    width: 100%;
    height: 87%;
    background-color: none;
    display: flex;
    justify-content: space-between;
}

.main-content-wrapper-1 {
    width: 65%;
    height: 100%;
    background-color: none;
    display: flex;
    flex-direction: column;
}

.main-content-content-1 {
    width: 100%;
    height: 36%;
    background-color: pink;
}

.image-1 {
    width: 100%;
    height: 100%;
}

.main-content-content-2 {
    width: 100%;
    height: 36%;
    background-color: none;
    display: flex;
    justify-content: space-between;
}

.title-wrapper {
    width: 50%;
    height: 100%;
    background-color: none;
}

.title-text {
    font-size: 4.6rem;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    margin-top: 2.5rem;
}

.paragraph-wrapper {
    width: 50%;
    height: 100%;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paragraph-text {
    font-size: 1.4rem;
    line-height: 2.3rem;
    font-weight: 400;
    margin-top: 2.5rem;
    color: hsl(236, 13%, 42%);
}

.read-more-text {
    font-size: 1.5rem;
    background-color: hsl(5, 85%, 63%);
    color: #fff;
    letter-spacing: .2rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
    width: 17rem;
    margin-bottom: 5rem;
    transition: background-color .2s;
}

.read-more-text:hover {
    background-color: #000;
}

.read-more-anchor {
    text-decoration: none;
}

.main-content-wrapper-2 {
    width: 32%;
    height: 65%;
    background-color: hsl(240, 100%, 5%);
    display: flex;
    flex-direction: column;
}

.new-text {
    font-size: 4rem;
    font-weight: 600;
    color: hsl(35, 77%, 62%);
    margin-left: 2rem;
    margin-top: 3rem;
}

.boxes {
    margin-top: -3rem;
}

.box-1-wrapper {
    width: 87%;
    height: 20rem;
    background-color: none;
    align-self: center;
    margin-top: -5rem;
}
.box-2-wrapper {
    width: 87%;
    height: 20rem;
    background-color: none;
    align-self: center;
    border-top: 1px solid hsl(236, 13%, 42%);
}
.box-3-wrapper {
    width: 87%;
    height: 20rem;
    background-color: none;
    align-self: center;
    border-top: 1px solid hsl(236, 13%, 42%);
    margin-bottom: -2rem;
}

.side-column-titles {
    font-size: 1.9rem;
    color: #fff;
    font-weight: 500;
    transition: color .3s;
}

.side-column-titles:hover {
    color: hsl(35, 77%, 62%);
}

.side-column-titles-anchor {
    text-decoration: none;
}

.side-column-text {
    color: #A6A7BB;
    font-size: 1.4rem;
    margin-top: -1rem;
    line-height: 2.4rem;
}



.main-content-content-3 {
    width: 154%;
    height: 20%;
    background-color: none;
    display: flex;
    justify-content: space-between;
}

.image-text-1-wrapper {
    width: 31rem;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: space-between;
}

.image-text-2-wrapper {
    width: 33rem;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: space-between;
}

.image-text-3-wrapper {
    width: 32rem;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: space-between;
}

.small-image-text-wrapper {
    width: 63%;
    height: 100%;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number-text {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    color: hsl(233, 8%, 79%);
    font-weight: 500;
}

.small-image-title {
    font-size: 1.7rem;
    font-weight: 900;
    transition: color .2s;
}

.small-image-title-anchor {
    color: #000;
}

.small-image-title:hover {
    color: hsl(5, 85%, 63%);
}

.small-image-text {
    font-size: 1.3rem;
    line-height: 3rem;
    margin-top: -.8rem;
    color: hsl(236, 13%, 42%);
}

/* End of Main Content */
